<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:th="http://www.w3.org/1999/xhtml"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
    <title>Title of the document</title>
    <link  th:href="@{/bootstrap.css}" rel="stylesheet">
</head>

<div class="container">
    <div class="row">
        <center><h1>CAR SHOP SYSTEM</h1></center>
    </div>

</div>

<div class="container">
<body>
<table class="table">
    <thead>
    <tr>
        <th scope="col">carid</th>
        <th scope="col">carname</th>
        <th scope="col">cartype</th>
        <th scope="col">carmodel</th>
        <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="isihaka: ${carinfo}">
        <td th:text="${isihaka.id}"></td>
        <td th:text="${isihaka.name}"></td>
        <td th:text="${isihaka.Cartype}"></td>
        <td th:text="${isihaka.model}"></td>
        <td>
            <button class="btn btn-success">Edit</button>
            <a th:href="@{/delete(id=${isihaka.id})}" class="btn btn-danger">Delete</a>
        </td>
    </tr>
    </tbody>
</table>

</div>